@charset "UTF-8";

/* ==========================================================================
    Builds our style structure
        https://sass-guidelin.es/#the-7-1-pattern
   ========================================================================== */
/**
 * Table of Contents:
 *
 *  1. Abstracts
 */
@import 'abstracts/variables';
/**
 * 2: Components
 */
@import 'components/validations';
@import 'components/labels';
@import 'components/notification';
@import 'components/pac-container';
@import 'components/options';
@import 'components/cafe-type';
@import 'components/admin/page-header';
@import 'components/admin/action-detail';
@import 'components/admin/tabs';
@import 'components/admin/list-header';
@import 'components/admin/listing';
/**
 * 3: Layouts
 */
@import 'layouts/page';
/**
 * 4: Animations
 */
@import 'animations/slide-in-left';
@import 'animations/slide-in-right';
@import 'animations/scale-in-center';
@import 'animations/slide-out-back';
@import 'animations/slide-in-top';
@import 'node_modules/foundation-sites/assets/foundation.scss';